@import "../core/mixins";
@import "../core/variables";

.content {
    font-size: pxrem(60);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: pxrem(2.55);
    color: white;
    text-transform: uppercase;

    @include media-down(sm) {
        font-size: pxrem(30)
    }
}