@import "../core/mixins";
@import "../core/variables";

.logo {
	position: absolute;
	z-index: 3;
	top: -27px;
	left: 27px;
	display: inline-block;
	font-size: pxrem(24);
	pointer-events: all;
	cursor: pointer;
	mix-blend-mode: difference;
    opacity: 0;
    transition: all .6s $smooth 2.5s;

    span {
        transition: all .4s $smooth;
        text-transform: uppercase;
        font-style: italic;
        font-weight: 600;
        color: $white;
        display: block;

        &:hover {
            transform: scale(1.05);
        }
    }
}

#root._loaded {
	
	.logo {
		top: 27px;
		opacity: 1;
	}
}