@import "../core/mixins";
@import "../core/variables";

.modal {
    position: relative;
    top: -60px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: all .6s $smooth 2.5s;

    &-panel {
        position: fixed;
        z-index: 3;
        background: $white;
        top: calc(50% + 20px);
        left: 50%;
        max-width: 600px;
        width: 100%;
        height: 400px;
        opacity: 0;
        padding: 40px;
        border-radius: 20px;
        transition: all .6s $smooth;
        transform: translate(-50%, -50%);
        pointer-events: none;

        @include media-down(sm) {
            top: 110px;
            opacity: 1;
            pointer-events: none;
            transform: none;
            margin: 27px;
            width: auto;
            max-width: none;
            padding: 20px;
            left: 0;
            height: 70vh;
            opacity: 0;
        }
    }

    &-btn {
        position: absolute;
        z-index: 2;
        top: 21px;
        right: 21px;
        pointer-events: all;
        border-radius: 50%;
        background: $white;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .6s $smooth;

        span {
            font-size: pxrem(18);
            font-weight: 500;
            color: $black;
            transition: all .6s $smooth;
        }
    }

    &-content {
        height: 100%;
        padding-right: 40px;
        overflow: auto;
        color: $black;
        @include scrollbar();
    }

    &-bg {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        pointer-events: none;
        transition: transform .6s $smooth;
    }
    
    &._open {

        .modal-btn {
            transform: rotate(135deg);
        
            span {
                transform: scale(1.6);
            }
        }
        
        .modal-panel {
            top: 50%;
            opacity: 1;
            pointer-events: all;
            transform: translate(-50%, -50%);

            @include media-down(sm) {
                top: 110px;
                transform: none;
            }
        }

        .modal-bg {
            opacity: 1;
            pointer-events: all;
        }
    }
}

#root._loaded {
    
    .modal {
        top: 0;
        opacity: 1;
    }
}