@import "../core/mixins";
@import "../core/variables";

.social {
    position: absolute;
    z-index: 2;
    bottom: -27px;
    left: 27px;
    overflow: hidden;
    transition: all .6s $smooth 2.5s;
    opacity: 0;
    mix-blend-mode: difference;
    
    &-content {
        padding: 6px 16px;
        border-radius: 20px;
        cursor: pointer;
        overflow: hidden;
        transition: .6s all $smooth;

        @include media-down(sm) {
            background: $white;
            width: 111px;
        }

        &:after {
            content: '';
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 2px solid $white;
            border-radius: 20px;
            pointer-events: none;
        }

        span {
            position: relative;
            z-index: 1;
            top: -1px;
            display: inline-block;
            color: $white;
            font-size: pxrem(14);
            transition: .6s all $smooth;
            text-transform: uppercase;
            font-weight: 700;

            @include media-down(sm) {
                transform: translateX(-50px);
            }
        }

        ul {
            position: relative;
            z-index: 1;
            list-style: none;
            padding: 0;
            margin: 0 -4px;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: absolute;
            right: calc(-100% - 30px);
            top: 50%;
            transform: translateY(-50%);
            transition: .6s all $smooth;
            line-height: 0;

            @include media-down(sm) {
                right: 10px;
            }

            li {
                padding: 0 4px;

                a {
                    display: block;
                    transition: .6s all $smooth;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }

        &:hover {
            background: $white;
            width: 111px;

            span {
                transform: translateX(-50px);
            }

            ul {
                right: 10px;
            }
        }
    }
}

#root._loaded {
    
    .social {
        bottom: 27px;
        opacity: 1;
    }
}